*{
    box-sizing: border-box;
}
/* style the body */
body {
    font-family: arial;
    margin: 0;
}
/* header/logo title */
.header {
    padding: 60px;
    text-align:center;
    background-color: aquamarine;
    color:white;
}
/* styles the navigation bar lines */
.navbar a {
    color:white;
    padding:14px 20px;
    text-decoration: none;
    text-align: center;
}
/* change color on hover */
.navbar a:hover {
    background-color: #555;
    color:black;
}
/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}
/* Creat two unequal columns that sits next to each other */
/* sidebar /left column */
.side {
    flex:30%;
    background-color: azure;
    padding: 20px;
}

.main{
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding:20px;
}
.footer {
    padding:20 px;
    width: 100%;
    text-align: center;
    background-color: #ddd;
}
@media screen and (max-width: 768px) {
    .row, .navbar {
        flex-direction: column;
    }
}